body{
    background: #1B1A17;
    /* background: linear-gradient(270deg, #f30e0e, #f39d0e, #e3f30e, #74f30e, #0ef3cc, #0e64f3, #d30ef3, #f30e35); */
    font-family: "Lato", sans-serif;
    color: #fac997;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    overflow:auto;
    background-size: 1600% 1600%;
    -webkit-animation: AnimationName 2s ease infinite;
    -moz-animation: AnimationName 2s ease infinite;
    -o-animation: AnimationName 2s ease infinite;
    animation: AnimationName 2s ease infinite;
}

#text{

    font-size: 49px;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    padding: 0px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

#timer{
    font-size: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0px;
}

/* #help{
    font-size: 80px;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    padding: 0px;
    z-index: 0;

} */

#papaj{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* z-index: -2; */
}

#muted{
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
}




@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
